<a href="https://colab.research.google.com/github/LondonInternational/Data-Science-Batch-A-NOVAIML2021/blob/main/Session_II_Nov2021_PM_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# NameError
# SyntaxError
# ZeroDivisionError
# TypeError
# ValueError
# IndentationError

In [1]:
print(45/0) # should lead to infinity

ZeroDivisionError: ignored

In [4]:
# Type Conversion/Type-Casting Functions - int(), float(), str()

val = 34.56 # float
print(val)
val = int(val) # float -> int
print(val)

print('-----------------------')
y = 90
print(y)
print(float(y))
print('-----------------------')

34.56
34
------------
90
90.0

In [6]:
print( 45 + 90) # int + int -> int
print( 34.56 + 67.89) # float + float -> float
print( 34 + 67.89 ) # int + float -> float
print('hello'+'world') # string + string -> concatenate

135
102.45
101.89
helloworld

In [7]:
y = '45.67' # string
print(y+1) # string + integer -> incompatibility between the operands -> concatenation/addition

TypeError: ignored

In [10]:
y = '45.67' # string
print ( float(y) + 1 ) # string + integer -> float(string) + integer -> float

46.67

In [11]:
y = 'cat' # string
print(y+1)

TypeError: ignored

In [12]:
# expected output -> cat1
 
y = 'cat' # string
print(y + str(1))

cat1

In [16]:
# print a text string -> I am amit and I was born in 1990

print( 'I am amit and I was born in 1990' )
print( 'I am amit and I was born in', 1990)
print( 'I am amit and I was born in ' + str(1990) ) # str + str -> concatednated str

I am amit and I was born in 1990
I am amit and I was born in 1990
I am amit and I was born in 1990

In [17]:
float(67) # float(int) -> float

67.0

In [18]:
float('67') # float(NumStr) -> float

67.0

In [20]:
float('cat')  # float(CharStr) -> ValueError

ValueError: ignored

In [21]:
# space-sensitive language
x = 90
y = 80
  print(x+y)

IndentationError: ignored

In [23]:
# Syntax Error

print('hello'

SyntaxError: ignored

In [29]:
# Membership Operators (in, not in) return True/False

numList = [45,67,689]

print(56 in numList) # Is 56 a member of numList -> False

print(6 in numList) # Is 6 a member of numList -> False

print(56 not in numList) # Is 56 not a member of numList -> True

print( 'S' in 'Sata') # True

print( '67' in numList) # False

print( int('67') in numList) # True

False
False
True
True
False
True

In [34]:
# Identity Operators (is, is not)  return True/False        # !=, ==[Relational Operators]

print( 90 is 45) # False
print( 90 is not 45)  # True
print( 90 != 45) # True
print( 90 == 45)  # False

print('s' is not 'S')

False
True
True
False
True

In [36]:
# Bitwise Operators (&,|,^,>>,<<,~) return True/False -> 
# Work at bit-level

# Number System - Decimal System (0-9), Binary(0-1), Octal(0-7), HexaDecimal(0-9A-F)

x = 4 
y = 2

print(x & y)

# True and True -> True
#  1    &    1 ->   1

# x = 4   0100
#         &
# y = 2   0010
#       -------
#         0000 (binary)  -> 0 (Decimal)

0

In [37]:

x = 8
y = 3

print(x & y)   # binary AND operator

# True and True -> True
#  1    &    1 ->   1

# x = 8   1000
#         &
# y = 3   0011
#       -------
#         0000 (binary)  -> 0 (Decimal)

0

In [38]:

x = 4 
y = 2

print(x | y)  # binary OR operator


# x = 4   0100
#         |
# y = 2   0010
#       -------
#         0110 (binary)  -> 6 (Decimal)

6

In [39]:

x = 8 
y = 3

print(x | y)  # binary OR operator


# x = 8   1000
#         |
# y = 3   0011
#       -------
#         1011 (binary)  -> 11 (Decimal)

11

In [41]:
print( 4 << 1)  # left-shift operator -> Shift the bit towards left  by 1 bit [ val << pos ]

# 4 - 0100
#     << 1
#     ----
#     1000(binary) -> 8(decimal)

8

In [42]:
print( 4 >> 1)  # right-shift operator -> Shift the bit towards right  by 1 bit [ val >> pos ]

# 4 - 0100
#     >> 1
#     ----
#     0010(binary) -> 2(decimal)

2

In [50]:
# Assignment Operators (=,+=,/=,-=)

x = 90
print(x)

x += 1  # x = x + 1 
print(x)

90
91

In [52]:
x = 90.7

x /= 2  # x = x / 2 
print(x) # float


x //= 2  # x = x // 2  
print(x) # float but decimal is zero
print(int(x)) # float -> int

# integer division operator returns float in case if numerator is a float value

45.35
22.0
22

In [53]:
22/7  # upto 15 decimals -- why?? --> approximation

3.142857142857143

In [54]:
# Condtional Statement : if, elif and else - mutually exclusive

x = 90

if (x>78):
  print('hello')
else:
  print("world")

hello

In [56]:
age = 90

if (x>18):
  print('welcome')
elif (x<18):
  print('Entry Restricted')
else:
  print("Invalid input")

welcome