<a href="https://colab.research.google.com/github/LondonInternational/Data-Science-Batch-A-NOVAIML2021/blob/main/Session_12Nov2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Single Line of Comment -> Use prefix # before your textual comment
'''
Multi-line Comment
Author: Sanket
Date: 12 Nov 2021
Subject: Introduction to Python Programmming
'''
# CTRL + Enter -> Run Code Cell

'\nMulti-line Comment\nAuthor: Sanket\nDate: 12 Nov 2021\nSubject: Introduction to Python Programmming\n'

In [2]:
print('hello world')

hello world

In [3]:
# Types of Function: 
# 1. Built-in Functions/System-defined Functions - print()
# 2. User-defined Functions - getareaofCircle(radius)

In [4]:
print('hello world')
print("hello world")
print("""hello world""")
print('''hello world''')

hello world
hello world
hello world
hello world

In [5]:
print("hello'world")  # hello'world

hello'world

In [6]:
print('hello\'world')  # hello'world  # Use Escape Character \

hello'world

In [7]:
# hello '""' world
print('hello \'\"\"\' world')
print("""hello '""' world """)

hello '""' world
hello '""' world

In [8]:
print('hello)

SyntaxError: ignored

In [ ]:
x = 90 # Variable Declaration - define & initialise
print(x)

In [ ]:
# Python is a case sensitive language
num = 90 
print(NUM)

In [ ]:
Print('hello')

In [ ]:
True = 90

In [ ]:
true = 90

In [ ]:
# List of Operators in Python - CTRL+/[adding a comment] - Binary/Unary
# Arithmetic Operators (+,-,*,/,**,//,%)

print(34+2)
print(34-2) # binary
print(-5) # unary
print(34*2)
print(34/2)
print('-----------------------')
print(3 ** 2) # power operator - syntax - base**power
print(2 ** 3) # power operator - syntax - base**power
print( 2 ** 0.5) # squareroot of 2
print('---------------------')
print(34/5) # Float Division Operator - as it returns float value always
print(34//5) # Integer Division Operator - as it returns integer value always
print('---------------------')
print(45 % 3) # Modulo Operator - Modulus Operator - it returns remainder value
print( 19 % 5)

In [ ]:
# Relational Operators - [<,>,>=,<=,==,!=] - Return True/False [Boolean]

print(3<5)
print(3>5)
print(3<=5)
print(3>=5)
print(3==4) # equality operator - true if both operands are equal
print(3!=4) # inequality operator - true if both operands are not equal

In [ ]:
# Logical Operators - [and, or, not] - Return True/False [Boolean]

# laura and simon should be present to start operations in office
print( (3<4) and (78>0) )  # and Operator - returns True only if both operands are True


# laura or simon should be present to start operations in office, if both are absent, operations cant be started
print( (3<4) or (78>0) )  # and Operator - returns True if one of the operands is True


# inverts the boolean value if True then False | if False then True
print(not (67>7)) # not (True) -> False
print( not (not True))  # True -> -(-2) -> 2

In [ ]:
# Membership Operators [ in, not in]  - Return True/False [Boolean]

numList = [4,5,67,34,'amit']
print( 34 in numList) # True
print( '34' in numList) # False

print('a' in 'amit') # True
print( 90 not in numList)

In [ ]:
# Identity Operators - [is, is not] - Return True/False [Boolean]  ==,!=

print(4 is 5)
print(4 is not 5)

In [ ]:
# Bitwise Operators - works on binary values[1,0] - [&,|,~,>>,<<,^] = True/1 ,  False/0
# NUmber Systems-
    # 1. Decimal Number Systems [0-9]
    # 2. Binary Number System [0-1]
    # 3. Octal NUmber System [0-7]
    # 4. Hexadecimal NUmber System [0-9,A-F]


print( 4 & 3)

# # 4 -> 0100
      #  &
# # 3 -> 0011
#     -----------
#        0000  ---> 0



print( 4 & 11)

# # 4 -> 0100
        # &
# # 11-> 1011
#     -----------
#        0000[binary]  ---> 0[decimal]

print( 3  & 5 )

# # 3 -> 0011
        # &
# # 5->  0101
#     -----------
#        0001[binary]  ---> 1[decimal]

In [ ]:
print( 3 & 2)

# # 2 -> 0010
      #  &
# # 3 -> 0011
#     -----------
#       [0010]  ---> 2

In [ ]:
# Right-shift Operator - value >> pos
print( 4 >> 1) # 4 --> 0100 -> 0010 -> 2

print( 5 >> 1) # 5 --> 0101 -> 0010 -> 2

In [ ]:
# Left-shift Operator - value << pos
print( 4 << 1) # 4 --> 0100 -> 1000 -> 8

print( 5 << 1) # 5 --> 0101 -> 1010 -> 10

In [ ]:
# Assignment Operators [=,+=,-=,/=,*=,...]

x = 99
print(x)

x += 1   # x = x + 1
print(x)

In [ ]:
# ASCII, Unicode - ord() - order function, chr() - character function

print(chr(1572)) # return respective character for unicode number

print(ord('ุค')) # return respective unicode number for a given character

print(ord('เค')) #return respective unicode number for a given character

In [ ]:
print('helloworld')
print('hello \n world')  # line break - new line
print('hello \t world') # tab break - tab space

In [ ]:
x = 90
print('my granpa\'s age is', x)

In [ ]:
print('my granpa\'s age is '+ str(x))  # type-casting

In [ ]:


print( 3 + 4) # int + int -> int [addition]
print( 'ca' + 'ad') # string + string -> string [concatenation]
print( 90.99 + 56)  # float + int -> float [addition]

In [ ]:
print ( 'cat' + 90) 

# string + integer -> [confusion] - add/concatenate?? --> TypeError --> Incompatibility Issue

In [9]:
# Type-casting [Type Conversion Function] - int(), float(), str() - Built-in Functions

num = 89.6767
print(num)
num = int(num)
print(num)

89.6767
89

In [10]:
num = 89
print(num)
num = float(num)
print(num)

89
89.0

In [11]:
myString ='amit'
print(int(myString))

ValueError: ignored

In [12]:
print(int('cat'))

ValueError: ignored

In [13]:
print(int('567')) # int(string)

567

In [17]:
errorVal = 400

print('Bad Request '+ str(errorVal))
print('Bad Request',errorVal)

Bad Request 400
Bad Request 400

In [20]:
x = 90
y = 12
print(x,y)
x,y = 90,12  # multi-assignment
print(x,y)

90 12
90 12

In [21]:
x,y,z = 3,4

ValueError: ignored

In [22]:
# Python is space-sensitive language
x=90
  y=45
z=888

IndentationError: ignored

In [24]:
# NameError
# TypeError
# ValueError
# IndentationError
# SyntaxError
# ZeroDivisionError
# AttributeError

In [25]:
print(34/0) # ZeroDivisionError: division by zero

ZeroDivisionError: ignored

In [30]:
# Math Library 
import math 

val = math.tau
print(val)

val = math.pi
print(val)

val = math.e
print(val)

6.283185307179586
3.141592653589793
2.718281828459045

In [31]:
print(math.lcm(4,5))

AttributeError: ignored

In [26]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [32]:
print(math.plank)

AttributeError: ignored

In [37]:
print(math.inf) # Pseudo  Positive infinity value -maximum value based on local resoruces[RAM/Processor]

x =math.inf
print(x>0)
print(x>222222223434334353535553535553555668886880)

print('--------------------------------------------')

x=-math.inf
print(x>0)
print(x>222222223434334353535553535553555668886880)
print(x<0)

inf
True
True
--------------------------------------------
False
False
True

In [38]:
print(0/0)  # Numerator is Zero so answer should be Zero,Denominator is Zero so answer should be Infinity - Undefined - NaN

ZeroDivisionError: ignored

In [39]:
print(0/56)

0.0

In [41]:
import math 
radius = 4
Volume = (4/3)*math.pi*(radius**3)
print(Volume)

268.082573106329

In [ ]:
# Volume of Sphere
# Volume of Cylinder

# p1(2,3) x1,y1
# p2(3,4)	x2,y2
# Phone1(price,dimension,wift,ram)
# Phone2(price,dimension,wift,ram)
# Distance Measures - 
# Euclidean Distance
# City Block Distance/Manhatten Distance-
# Mahalnobis Distance

In [48]:
# Conditional Statements  - if,elif,else - these blocks are mutually exclusive
age = 90
if age>34: # if block
  print('hello')
  print('great')
else:      # else block
  print('world')

hello
great

In [50]:
age = -90
if age>34: 
  print('hello')
  print('great')
elif age<0:
  print('Invalid Age')
else:     
  print('world')

Invalid Age

In [55]:
# WAP to find whether a number is even or odd -> 34 -> even [num%2==0]
num = 45
print( 'even' if num%2==0 else 'odd' ) # one-line

# WAP to find whether a number is pos or neg or zero
num = 45
print( 'pos' if num>0  else ('neg' if num<0 else 'zero' ))   # one-line

# WAP to find out a year is leap year or not.

odd
pos